<div class="div">
  <mdl-card mdl-shadow="16">
    <mdl-card-title>
      <h2 mdl-card-title-text>Student Login</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      <form [formGroup]="form">

        <mdl-textfield label="uname" type="text" [(ngModel)]="username" formControlName="uname" floating-label></mdl-textfield>
        <mdl-textfield label="passsword" type="password" [(ngModel)]="pwd" formControlName="password" floating-label></mdl-textfield>
       <div>
          <p>Year</p>
          <mdl-radio name="year" [(ngModel)]="year" value="1" formControlName="year" mdl-ripple>1</mdl-radio>
          <mdl-radio name="year" value="2" [(ngModel)]="year" formControlName="year" mdl-ripple>2</mdl-radio>
          <mdl-radio name="year" value="3" [(ngModel)]="year" formControlName="year" mdl-ripple>3</mdl-radio>
          <mdl-radio name="year" value="4" [(ngModel)]="year" formControlName="year" mdl-ripple>4</mdl-radio>
        </div>
        <br>
        <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple type="submit" (click)="checkLogin()">
          Login
        </button>
        <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple type="reset">
          Reset
        </button>
      </form>
    </mdl-card-supporting-text>
  </mdl-card>
</div>

