<div id="editor">
<div class="row">
  <div class="col-sm-6" id="questionPart">
    <h1>{{question.name}}</h1>
    <p>{{question.question}}</p>
    <h4>{{question.input}}</h4>
    <h4>{{question.output}}</h4>
  </div>
  <div col="col-sm-6" id="editorPart">
    <textarea rows="30" cols="86" placeholder="Enter your code here" [(ngModel)]="code" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}">
      </textarea>
    <div style="margin-left:55%;margin-top:2%;">  
      <label for="language">language</label>
      <select name="lang" id="lang" [(ngModel)]="lang">
        <option value="1">PYTHON</option>
        <option value="2">JAVA</option>
        <option value="3">C</option>
      </select>
    <input type="submit" value="Run" (click)="run()" class="btn btn-primary">
        <input type="submit" value="submit" class="btn btn-danger">
  </div>
  </div>
</div>
<div class="row" id="output">
  
</div>
</div>



