
      <div class="demo-container" mdl-shadow="2">
          <mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed>
             <mdl-layout-header>
                <mdl-layout-header-row>
                   <mdl-layout-title><a routerLink="home" style="color:white">Code Arena</a></mdl-layout-title>
                   <mdl-layout-spacer></mdl-layout-spacer>
                   <!-- Navigation. We hide it in small screens. -->
                   <nav class="mdl-navigation mdl-layout--large-screen-only">
                      <a *ngIf="!isLoggedIn" class="mdl-navigation__link" routerLink="/login">Student Login</a>
                      <a *ngIf="!isLoggedIn" class="mdl-navigation__link" routerLink="/facultyLogin">Faculty Login</a>
                      <a *ngIf="!isLoggedIn" class="mdl-navigation__link" routerLink="/registerUser">Register Student</a>
                      <a class="mdl-navigation__link" routerLink="/developers">Developers</a>
                      <a *ngIf="isLoggedIn" class="mdl-navigation__link" >Welcome {{user}}</a>
                      <a *ngIf="isLoggedIn" class="mdl-navigation__link" (click)="logout()">Log out</a>
                   
                    </nav>
                </mdl-layout-header-row>
             </mdl-layout-header>
             <mdl-layout-drawer>
                <mdl-layout-title><a routerLink="home" style="color:black">Code Arena</a></mdl-layout-title>
                <nav class="mdl-navigation">
                    <a *ngIf="!isLoggedIn" class="mdl-navigation__link" routerLink="/login">Student Login</a>
                      <a *ngIf="!isLoggedIn" class="mdl-navigation__link" routerLink="/facultyLogin">Faculty Login</a>
                      <a *ngIf="!isLoggedIn" class="mdl-navigation__link" routerLink="/registerUser">Register Student</a>
                      <a *ngIf="isLoggedIn" class="mdl-navigation__link" (click)="logout()">Log out</a>
                      <a class="mdl-navigation__link" routerLink="/developers">Developers</a>
                   </nav>
             </mdl-layout-drawer>
             <mdl-layout-content>
                <!-- Your content goes here -->
             </mdl-layout-content>
          </mdl-layout>
          <div id="container">
            <router-outlet></router-outlet>
           
         </div>
         <app-copyrights></app-copyrights>
        </div>
      


