<html>
  <head>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <body>

    <nav class="navbar navbar-inverse" id="navigationBar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          <a class="navbar-brand" href="#">CodeVardhaman</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        
          <ul class="nav navbar-nav navbar-right">
            <li *ngIf="!isLoggedIn"><a routerLink="/registerUser"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li *ngIf="!isLoggedIn"><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Student Login</a></li>
            <li *ngIf="!isLoggedIn"><a routerLink="/facultyLogin"><span class="glyphicon glyphicon-log-in"></span> Faculty Login</a></li>
            <li *ngIf="isLoggedIn" style="color:white;margin:1%;">Welcome {{user}}</li>
            <li *ngIf="isLoggedIn"><a style="color:aliceblue" (click)="logout()" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-log-out" style="color:aliceblue"></span> Log out
              </a></li>
          </ul>
        </div>
      </div>
    </nav>
<router-outlet></router-outlet>
<app-copyrights></app-copyrights>

  </body>
</html>