<div class="developers">
  <div class="raman">
    <mdl-card mdl-shadow="24">
      <mdl-card-title>
        <h2 mdl-card-title-text>Sai Raman</h2>
      </mdl-card-title>
      <mdl-card-supporting-text>
        <img src="../../../assets/raman.jpg" alt="raman" width="100%" height="20%;">
      </mdl-card-supporting-text>
      <mdl-card-actions mdl-card-border>
        <button mdl-button mdl-colored mdl-ripple>LinkedIn</button>
      </mdl-card-actions>
    </mdl-card>
  </div>
  <div class="guru">
    <mdl-card mdl-shadow="24">
      <mdl-card-title>
        <h2 mdl-card-title-text>Guru Charan</h2>
      </mdl-card-title>
      <mdl-card-supporting-text>
        <img src="../../../assets/guru.jpg" alt="raman" width="100%" height="20%;">
      </mdl-card-supporting-text>
      <mdl-card-actions mdl-card-border>
        <button mdl-button mdl-colored mdl-ripple>LinkedIn</button>
      </mdl-card-actions>
    </mdl-card>
  </div>
  <div class="abhilash">
    <mdl-card mdl-shadow="24">
      <mdl-card-title>
        <h2 mdl-card-title-text>Abhilash Reddy</h2>
      </mdl-card-title>
      <mdl-card-supporting-text>
        <img src="../../../assets/abhilash.jpeg" alt="raman" width="60%" height="20%;">
      </mdl-card-supporting-text>
      <mdl-card-actions mdl-card-border>
        <button mdl-button mdl-colored mdl-ripple>LinkedIn</button>
      </mdl-card-actions>
    </mdl-card>
  </div>
</div>
