<div class="div">
  <mdl-card mdl-shadow="16">
    <mdl-card-title>
      <h2 mdl-card-title-text>Register User</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      <form [formGroup]="form">

        <mdl-textfield label="username" type="text" formControlName="username" floating-label></mdl-textfield>
        <mdl-textfield label="password" type="password" formControlName="password" floating-label></mdl-textfield>
        <div>
          <p>Year</p>
          <mdl-radio name="year" value="1" formControlName="year" mdl-ripple>1</mdl-radio>
          <mdl-radio name="year" value="2" formControlName="year" mdl-ripple>2</mdl-radio>
          <mdl-radio name="year" value="3" formControlName="year" mdl-ripple>3</mdl-radio>
          <mdl-radio name="year" value="4" formControlName="year" mdl-ripple>4</mdl-radio>
        </div>
        <br>
        <div>
            <p>Section</p>
            <mdl-radio name="section" value="1" formControlName="section" mdl-ripple>A</mdl-radio>
            <mdl-radio name="section" value="2" formControlName="section" mdl-ripple>B</mdl-radio>
            <mdl-radio name="section" value="3" formControlName="section" mdl-ripple>C</mdl-radio>
            <mdl-radio name="section" value="4" formControlName="section" mdl-ripple>D</mdl-radio>
          </div>
       <br> 
       
        <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple type="submit">
          Register
        </button>
        <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple type="reset" (click)="checkLogin()">
          Reset
        </button>
      </form>
    </mdl-card-supporting-text>
  </mdl-card>
</div>